@model songProject.Models.Store
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
   
   @using (Html.BeginForm("getBooks","Store",FormMethod.Post))
{
<div>
dsf
</div>


}
