@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("UserLogin","User",FormMethod.Post))
{
<div id="LoginBox" class="">
    <form>
        <fieldset>
    <legend>Login</legend>
    UserName:<br>
    @Html.TextBox("userName")
    <br>Password:<br>
    @Html.Password("password")     
    <input type="submit" value="Submit">
  </fieldset>
    </form>
</div>
}
